:root {
  --primary-colour: #fff;
  --primary-colour-hover: #ccc8c8;
  --secondary-color: #181818;
  --sidebar-colour: #121212;
  --accent-colour: #b91d1d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;font-optical-sizing: auto;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-colour);
  margin: 0;
  padding: 0;
}

app-root {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
