<div class="player_container">
  @if (currentSong) {
    <div class="player-left">
      <img class="cover" [src]="coverUrl" alt="cover" />
      <div class="song-info">
        <span class="song-title">{{ songName }}</span>
        <span class="song-artist">{{ artistName }}</span>
      </div>
    </div>
  }
  <div class="player-center">
    <button mat-button (click)="previous()" [disabled]="!canGoPrevious()"><fa-icon [icon]="faBackward"/></button>
    <button mat-button (click)="togglePlaying()"><fa-icon [icon]="isPlaying()"/></button>
    <button mat-button (click)="next()" [disabled]="!canGoNext()"><fa-icon [icon]="faForward"/></button>
    <button mat-button (click)="toggleLoop()" [class.active]="isLoopActive()">
      <fa-icon [icon]="getLoopIcon()"/>
    </button>
  </div>
  <div class="player-right">
    <button mat-button (click)="toggleMute()"><fa-icon [icon]="isMute()"/></button>
    <mat-slider [min]="0" [max]="duration" class="big-slider">
      <input matSliderThumb [value]="bar_progress" (input)="onSliderChange($event)">
    </mat-slider>
    <span class="time">{{time}}</span>
  </div>
</div>
