{% extends "base.jinja" %}
{% block head %}
<link rel="stylesheet" href="../assets/css/songs.css">
{% endblock %}
{% block content %}
<main>
    <section class="music-section">
        <div class="music-grid">
            {% for song in songs %}
            <div class="card" onclick="playSong('{{song.name}}', '{{song.description}}')">
                <img src="../assets/images/place_holder.webp" alt="Album Cover">
                <h3>{{song.name}}</h3>
                <p>{{song.description}}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}