@use '../../../styles.scss' as *;

.login_body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100dvw;
  height: 100dvh;
}

.login_form {
  grid-area: 2 / 2;
  background-color: $panel-colour;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: fit-content;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 128px;
    margin: 0 0 50px 0;
    color: $accent-colour;
  }

  form {
    width: 450px;
    display: flex;
    flex-direction: column;
  }

  .login {
    background-color: $accent-colour;
    width: 150px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
