@use '../../../styles.scss' as *;

.main_container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.song_list_item {
  background-color: $panel-colour;
  border-radius: 15px;
  width: inherit !important;

  &:hover {
    box-shadow: $accent-colour 0 0 10px;
    color: $primary-colour-hover;
  }
}

.spacer {
  height: 5px;
}
