@use '../../../../styles.scss' as *;

.songs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card_content {
  p {
    max-width: 200px;
    max-height: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9rem;
  }
}

.action {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.action_button {
  background: $accent-colour !important;
  color: $primary-colour !important;
  &:hover {
    background: $primary-colour !important;
    color: $accent-colour !important;
  }
}
