@use '../../../styles.scss' as *;

.popup {
  background: $panel-colour !important;
}

.colour_text {
  color: $primary-colour;
}

mat-option {
  background-color: $panel-colour !important;
  opacity: 1 !important;
}

.action_button {
  background: $accent-colour;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $primary-colour;
    color: $accent-colour;
  }
}


