<main aria-label="Main Content" id="sub_page">
    <section class="music-section" aria-label="Artists">
        <div class="music-grid" aria-label="Artists Grid">
            {% for artist in artist_data %}
            <div class="card"
                 role="button"
                 onclick="setPageQueryArtist('{{ artist.name }}')"
                 aria-label="{{ artist.name }}"
                 style="cursor: pointer;">
                <div class="image-container">
                    <span class="cover-wrapper"
                          data-img-src="/api/images/artist?artist_name={{ artist.uri_name }}">
                          <i class="fas fa-music fallback-icon" style="display: inline-block;"></i>
                    </span>
                </div>
                <h3>{{ artist.name }}</h3>
            </div>
            {% endfor %}
        </div>
    </section>
</main>