<main aria-label="Playlist Details" id="sub_page">
  <section class="music-section" aria-label="Playlist Details">
    <h2>{{ playlist.name }}</h2>
    {% if playlist.username %}
      <p>by {{ playlist.username }}</p>
    {% endif %}
    <div class="music-grid" aria-label="Songs in Playlist">
      {% for song in songs %}
      <div class="card" aria-label="Play Song {{ song.name }}">
        <div class="image-container" onclick="playSong('{{ song.name }}', '{{ song.artist_name }}')">
          <div class="loading-spinner"></div>
          <i class="fas fa-music fallback-icon"></i>
          <img src="" alt="Album Cover" onerror="this.style.display='none'; this.previousElementSibling.style.display='block';">
        </div>
        <div class="card-info">
          <h3>{{ song.name }}</h3>
          <p>{{ song.artist_name }}</p>
        </div>
      </div>
      {% endfor %}
      {% if songs|length == 0 %}
        <p>No songs in this playlist.</p>
      {% endif %}
    </div>
  </section>
</main>