<div class="playlists_container">
  <h2>Private Playlists</h2>
  <div class="card_container">
    <!-- Add Playlist Card -->
    <mat-card class="card add-playlist-card" (click)="onAddPlaylist()" tabindex="0" aria-label="Add new playlist">
      <mat-card-content class="card_content add-playlist-content">
        <fa-icon [icon]="faListCheck" size="10x" class="add-playlist-icon"></fa-icon>
        <h2>Add Playlist</h2>
      </mat-card-content>
    </mat-card>
    @if (privatePlaylists.length === 0) {
      <p>No private playlists found.</p>
    } @else {
      @for (playlist of privatePlaylists; track playlist.name) {
        <mat-card class="card">
          <!--@if (!isCoverLoading(song)) {
            <img [src]="getCoverUrl(song)" alt="{{song.name}} by {{song.artist}} cover" />
          } @else {
            <div class="image-skeleton"></div>
          }-->
          <mat-card-content class="card_content">
            <h1>{{ playlist.name }}</h1>
          </mat-card-content>
        </mat-card>
      }
    }
  </div>
  <div class="controls_container">
    <button [attr.aria-label]="'get last 36 private playlists'" (click)="shiftPrivateLeft()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <h1>{{ privateSpanStart }} - {{ privateSpanEnd }}</h1>
    <button [attr.aria-label]="'get next 36 private playlists'" (click)="shiftPrivateRight()">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
  <h2>Public Playlists</h2>
  <div class="card_container">
    @if (publicPlaylists.length === 0) {
      <p>No public playlists found.</p>
    } @else {
      @for (playlist of publicPlaylists; track playlist.name) {
        <mat-card class="card">
          <!--@if (!isCoverLoading(song)) {
            <img [src]="getCoverUrl(song)" alt="{{song.name}} by {{song.artist}} cover" />
          } @else {
            <div class="image-skeleton"></div>
          }-->
          <mat-card-content class="card_content">
            <h1>{{ playlist.name }}</h1>
            <p>Owned By: {{ playlist.owner }}</p>
          </mat-card-content>
        </mat-card>
      }
    }
  </div>
  <div class="controls_container">
    <button [attr.aria-label]="'get last 36 public playlists'" (click)="shiftPublicLeft()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <h1>{{ publicSpanStart }} - {{ publicSpanEnd }}</h1>
    <button [attr.aria-label]="'get next 36 public playlists'" (click)="shiftPublicRight()">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
</div>
