<div class="popup">
  @if (data.create_new_playlist) {
    <h1 mat-dialog-title class="colour_text">Add Song To Playlist</h1>
    <mat-dialog-content class="colour_text">
      <mat-form-field>
        <mat-label>Playlists</mat-label>
        <mat-select class="drop_display" panelClass="custom-select-panel">
          <mat-option (click)="setCreatePlaylist()"><fa-icon [icon]="faPlus"/> Create Playlist</mat-option>
          @for (playlist of playlist; track playlist) {
            <mat-option [value]="playlist">{{playlist}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-icon-button
              type="button" matSuffix
              role="button" [attr.aria-label]=""
              class="action_button"
      ><fa-icon [icon]="faPlus"/>
      </button>
      <button mat-icon-button
              type="button" matSuffix
              role="button" [attr.aria-label]=""
              class="action_button" mat-dialog-close
      ><fa-icon [icon]="faX"/>
      </button>
    </mat-dialog-actions>
  } @else {
    <h1 mat-dialog-title class="colour_text">Create Playlist & Add Song</h1>
    <mat-dialog-content>
    </mat-dialog-content>
  }
</div>
