.popup {
  background: var(--sidebar-colour) !important;
}

.colour_text {
  color: var(--primary-colour);
}

mat-option {
  background-color: var(--sidebar-colour) !important;
  opacity: 1 !important;
}

.action_button {
  background: var(--accent-colour);
  cursor: pointer;
  transition: background 0.3s;
}
.action_button:hover {
  background: var(--primary-colour);
  color: var(--accent-colour);
}


